*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../img/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;/*cuando lo height era mas largo, que el largo de la imagen parecia el fondo blanco con esto se arregla. es lo que tenias antes  background-size:100%; */
}

.modal-content{
  border-radius: 25px !important;
}

.breadcrumb{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
}
