/*Main*/
.breadcrumb{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
}

main #mainContainer #seccionProducto{
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

main #mainContainer #seccionInfoProducto{
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}
