@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
/* .main-perfil, 
main{ */
body{
    
    background-image: url(../img/bg-cambiado.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-perfil .contenedor-perfil {
    border-radius: 100%;
    height: inherit;
}
.img-perfil .contenedor-perfil img {
    height: inherit;
    width: 100%;
    border-radius: 100%;
    border: 2px solid silver;
}
.sub-menu-categoria ul li{
    background-color:#343a40;
    color: white;
    text-decoration: none;
}
.sub-menu-categoria .dropdown-item:focus,.sub-menu-categoria .dropdown-item:hover {
    color:black;
    text-decoration: none;
    background-color:#FFFFFF;
}
.ubicacion{
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.ubicacion li{
    display: inline;
}
.usuario{
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
/*
    box-shadow:0px 6px 30px 10px dimgray inset;
    transform: rotate(7deg);*/
}
.menu-left ul{
    box-shadow: 0px 6px 10px #021422;
    transition: all .6s;
}
.menu-left ul:hover{
    position: relative;
    bottom:5px;
}

.menu-left li{
    padding: 0;
}
.menu-left ul li a{
    padding: .75rem 1.25rem;
    display: block;
    text-decoration: none;
}
.menu-left ul li a:hover{
    border-left: solid blue 4px;
}
.conf div ul{
    padding: 0;
    margin-top:5px;
}
.conf div ul li{
  list-style: none;
}
.conf div ul li a{
    display: block;
    text-decoration:none;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.img-perfil{
    width: 300px;
    height: 300px;
    position: relative;
    
    
}
.img-perfil a{
    background-color: rgba(0,0,0,45%);
    color: snow;
    
    text-align: center;
    position:absolute;
    top: auto;
    z-index: 1000;
    text-decoration: none;
}
.boton-efecto{
        margin-left:4vw;
        margin-right: 4vw;
        background-image: linear-gradient(to top,rgb(134, 131, 131,0.2),rgba(7, 5, 5, 0.637));
        box-shadow: 0px 6px 10px #01070c;
        transition: all .6s;
}
.boton-efecto:hover,.boton-efecto:focus{
    position: relative;
    bottom: 2px;
}

.resumen{
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.carrito-resumen{
    padding: 5px;
    height:500px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: scroll;
}
.resumen .factura{
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height:200px;
    
}
.resumen .factura div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.resumen .factura div div{
    
    border-bottom: solid black 1px;
}
.factura{
    border: black solid 1px;
    padding:0px;
}
.seguridad{
    padding: 20px;
}
.seguridad .informacion{
    padding: 10px 30px;
}
.form-clave , .form-mail{
    margin-left: 20px;
    margin-right: 20px;
    padding:12px;
    border-radius:2px;
    border: rgba(76, 72, 72, 0.747) solid 1px;
}
.form-mail .form-group span,.form-clave .form-group span{
    margin-top: 10px;
}
.form-clave{

}
.footer-cambiado{
    background-color: #343a40;
    text-decoration: none;
    color: honeydew;
}

.footer-cambiado div div a {
    display:block;
    text-decoration: none;
    color: honeydew;
    padding-left: 5px;
}
.footer-cambiado div div a:hover,.footer-cambiado div div a:focus{
    color: blue;
}
.footer-cambiado div div h5.social{
    padding: 0;
    display:block;
}
.footer-cambiado div div .social{
    padding: 0;
    display:inline;
}

@media (max-width: 470.98px) { 
    .container{
        
        margin-top: 16vh;
    }
    .resumen .factura{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        height:200px;
        
    }
    .resumen .factura div{
        padding: 5px auto;
        border: #343a40 solid 1px;
    }
    .resumen .factura div div{
        padding: 6px;
        border-bottom: solid black 1px;
    }
    .resumen .factura div div p{
        margin: 0;
    }
    .footer-cambiado div div{
        text-align: center;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.50rem .15rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right:none;
    }

    
}
@media (max-width: 457.8px) { 
    .container{
        
        margin-top: 160px;
    }
    .resumen .factura div{
        border: #343a40 solid 1px;
    }
    .resumen .factura{
        overflow: scroll;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        height:240px;
        
    }
    .resumen .factura div{
        width: 300px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        border: #343a40 solid 1px;
    }
    .resumen .factura div div{
        padding: 6px 0;
        text-align: center;
        border-bottom: solid black 1px;
    }
    .resumen .factura div div:last-child{
        height: 70px;
    }
}
@media (min-width: 458px) and (max-width: 599.98px) { 
    .container{
        
        margin-top: 120px;
    }
    .resumen .factura div{
        border: #343a40 solid 1px;
    }
    .resumen .factura{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        height:240px;
        
    }
    .resumen .factura div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .resumen .factura div div{
        padding: 6px 0;
        text-align: center;
        border-bottom: solid black 1px;
    }
    .resumen .factura div div:last-child{
        height: 70px;
    }
    .footer-cambiado div div{
        text-align: center;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline-block;
        width: 60px;
        height: 60px;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right: none;
    }
    
}


@media (min-width: 600px) and (max-width: 767.98px) { 
    .container{
       
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container{
        
        margin-top: 70px;
    }
}

@media (min-width: 992px) and (max-width:1199.98px) {
    .container{
        
        margin-top: 72px;
    }
    
 }
 @media(min-width: 1200px){
     .container{
         margin-top:70px;
     }
 }

 

