@import "body.css";
.main-login{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height:100vh;
}
footer{
    width: 100vw;
    align-self:flex-end;
}
.main-inicio section {   
    background-color:rgb(248, 250, 250);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
<!--Formulario-->
.form{
    width: 95%;
    max-width: 450px;
    margin: auto;
    background: white;  
    border-radius: 7px;
    }
.form-titulo{
        background:rgb(6, 4, 37);
        color: #fff;
        padding: 20px;
        text-align: center; 
        font-weight: 100px;
        font-size: 30px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom: 5px solid rgb(17, 9, 133);
       }
    
    .contenedor-inputs{
       padding: 10px 30px ;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
        }
    input{
            margin-bottom: 15px;
            padding: 15px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid darkgray;
        }
    textarea {    
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    
            min-height: 100px;
            max-height: 200px;
            max-width :100%;
            }
    
    .input-48{    
        width: 48%;    
        }
    .input-100{      
            width: 100%;        
            }
    .btn-enviar{
            background: rgb(6, 4, 37); 
            color: #fff;
            margin: auto;
            padding: 10px 40px;
            cursor: pointer;
            font-size:20px ;
     }
     .btn-enviar:active{
         transform:scale(1.05);
     }
     .form__link{
         width: 100%;
         margin: 7px;
         text-align: center;
         font-size: 14px;
     }
     @media(max-width:480px){
        form{
        width:100%;
        }
    }
    
    <!--Fin cod Formulario-->

 

/*
agregado
*/
.btn-enviar{
    transition: all .6s;
}
.btn-enviar:hover,.btn-enviar:focus{
position: relative;
bottom: 2px;
}
.footer-cambiado{
    background-color: #343a40;
    text-decoration: none;
    color: honeydew;
}
.footer-cambiado p{
    color: honeydew;
}
.footer-cambiado div div h5 {

    color: honeydew;

}
.footer-cambiado div div a {
    display:block;
    text-decoration: none;
    color: honeydew;
    padding-left: 5px;
}
.footer-cambiado div div a:hover,.footer-cambiado div div a:focus{
    color: blue;
}
.footer-cambiado div div h5.social{
    padding: 0;
    color: honeydew;
    display:block;
}
.footer-cambiado div div .social{
    padding: 0;
    color: white;
    display:inline;
}
@media(max-width:480px){
    form{
    width:100%;
    }
}
@media (max-width: 470.98px) { 
    .container{
        
        margin-top: 16vh;
    }
    .footer-cambiado div div{
        text-align: center;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.50rem .15rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right:none;
    }
}
@media (max-width: 457.8px) { 
    .container{
        
        margin-top: 75px;
    }
}
@media (min-width: 458px) and (max-width: 599.98px) { 
    .container{
        
        margin-top: 120px;
    }
    .footer-cambiado div div{
        text-align: center;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right: none;
    }
}

@media (min-width: 600px) and (max-width: 767.98px) { 
    .container{
       
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container{
        
        margin-top: 70px;
    }
}

@media (min-width: 992px)  and (max-width:1199.98px) {
    .pregunta{
        margin-left:78%;
    }
    .container{
        
        margin-top: 72px;
    }
    
 }
 @media(min-width: 1200px){
    .container{
        margin-top:70px;
        min-width: 80vw !important;
        max-width: 90vw !important;
       align-self: center;
    }
    main{
        min-width: 80vw !important;
        max-width: 90vw !important;
       align-self: center;
    }
}


*{
    position: relative;
}
.errores li{
    list-style: "🔥";
}
ul.errores{
    color: rgb(246, 53, 53);
}
ul.errores
li{
    padding-left: 0.2em;
}
