*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url(../img/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;/*cuando lo height era mas largo, que el largo de la imagen parecia el fondo blanco con esto se arregla. es lo que tenias antes  background-size:100%; */
}
.sub-menu-categoria ul li{
    background-color:#343a40;
    color: white;
    text-decoration: none;
}
.sub-menu-categoria .dropdown-item:focus,.sub-menu-categoria .dropdown-item:hover {
    color:black;
    text-decoration: none;
    background-color:#FFFFFF;
}
.modal-content{
  border-radius: 25px !important;
}

/*Main*/
.breadcrumb{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
}

#imagenProducto img{
  border: 1px solid #0001;
}

main #mainContainer #seccionProducto{
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

main #mainContainer #seccionInfoProducto{
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

/* Footer */
.footer-cambiado{
    background-color: #343a40;
    text-decoration: none;
    color: honeydew;
    margin: 0 !important;

}

.footer-cambiado div div a {
    display:block;
    text-decoration: none;
    color: honeydew;
    padding-left: 5px;
}
.footer-cambiado div div h5.social{
    padding: 0;
    display:block;
}
.footer-cambiado div div .social{
    padding: 0;
    color: white;
    display:inline;
}

/*Media Querys*/
@media (max-width: 470.98px) {
    .container{
        margin-top: 16vh;
    }
    .footer-cambiado div div{
        text-align: center;
        margin: 0 !important;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.50rem .15rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right:none;
    }
}
@media (max-width: 457.8px) {
    .container{
        margin-top: 160px;
    }
}
@media (min-width: 458px) and (max-width: 599.98px) {
    .container{
        margin-top: 120px;
    }
    .footer-cambiado div div{
        text-align: center;
        margin: 0 !important;
    }
    .footer-cambiado div div h5{
        display: block;
        border-bottom:white solid 1px;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div h5.social{
        display: block;
        border-bottom: none;
        padding:.75rem .25rem;
    }
    .footer-cambiado div div a{
        display: block;
        padding:.20rem .5rem;
        border-bottom: solid white 1px;
    }
    .footer-cambiado div div a.social{
        display: inline;
        border-bottom: none;
    }
    .footer-cambiado div div a:hover{
        border-left: solid white 2px;
        border-right: solid white 2px;
    }
    .footer-cambiado div div a.social:hover{
        border-left:none;
        border-right: none;
    }
}

@media (min-width: 600px) and (max-width: 767.98px) {
    .container{

        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container{

        margin-top: 70px;
    }
}

@media (min-width: 992px)  {
    .container{

        margin-top: 15vh;
    }

 }
