*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

body{
  background-image: url(../img/bg-cambiado3.png);
  background-repeat: no-repeat;
  background-size: cover;/*cuando lo height era mas largo, que el largo de la imagen parecia el fondo blanco con esto se arregla. es lo que tenias antes  background-size:100%; */
}

.modal-content{
  border-radius: 25px !important;
}

.breadcrumb{
  margin-bottom: 20px;
  
  width: 100%;
  border-radius: 25px;
}
.breadcrumb li{
  list-style: none;
}
.breadcrumb li a{
  text-decoration: none;
}
main{
  margin: 0 auto;
}
.inner-main{
  max-width: 1200px;
}
.btn-faceboo{
  background-color: #3b5998;
  color: white;
  border:#3b5ba0;
}
.btn-faceboo:hover{
  color: white;
 }
 .btn-faceboo:active{
  color: white;
 }
 .btn-faceboo:focus{
 color: white;
}
.btn-google{
 background-color: #ea4335;
 color: white;
 border:#d83d2f;
}
.btn-google:hover{
  color: white;
 }
 .btn-google:active{
  color: white;
 }
 .btn-google:focus{
 color: white;
}

#contenedor_carga{
  background-color: rgba(250, 240, 245,0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}
#carga{
  /*color: rgb(209, 220, 243);*/
  border: 15px solid rgb(209, 220, 243);
  border-top-color:  rgb(68, 66, 230);
  border-top-style: groove;
  height:100px;
  width: 100px;
  border-radius:50%;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite ;
  -o-animation: girar 1.5s linear infinite ;
  animation: girar 1.5s linear infinite ;

}
@keyframes girar{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}