/*Detalle de producto*/
main #mainContainer
{
  display: flex;
  flex-direction: column;
}
main #mainContainer #seccionProducto{

  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

main #mainContainer #seccionInfoProducto{

  background-color: white;
  padding: 20px;
  border-radius: 25px;
}
#imagenProducto
{
  flex-grow: 1;
}
#imagenProducto img{
  border: 1px solid #0001;
}
#thumbnailProducto
{
  height: 100%;
  width: 100%;
}

#thumbnailProducto img {
  border: 1px solid #0001;
  width: 85%;
  margin-bottom: 5px;
}

#descProducto
{
  margin-left: 2%;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

@media (min-width:576px) and (max-width:767.99px)
{
  div.cuadro-contenedor{
    flex-direction: column !important;
  }
  div.primero-j{
    order: 0;
    text-align: center;
    margin-bottom: .5rem !important;
  }
  div.segundo-j{
    flex-direction: row !important;
    order: 1;
  }
  div.segundo-j ul{
    flex-direction: row !important;
  }
  div.segundo-j ul li{
    flex: 0 0 33.3333333333%;

    max-width: 33.3333333333%;
    text-align: center;
  }
  img.img-telefono{
    width:50%;
  }
  div.segundo-j ul li img {
    width:50%;
    margin: 0 auto;
  }
}
@media(max-width:575.99px){
  div.cuadro-contenedor{
    flex-direction: column !important;
  }
  div.primero-j{
    order: 0;
    text-align: center;
    margin-bottom: .5rem !important;
  }
  div.segundo-j{
    flex-direction: row !important;
    order: 1;
  }
  div.segundo-j ul{
    flex-direction: row !important;
  }
  div.segundo-j ul li{
    flex: 0 0 33.3333333333%;

    max-width: 33.3333333333%;
  }
  img.img-telefono{
    width:50%;
  }
  div.segundo-j ul li img {
    width:50%;
    margin: 0 auto;
  }

  #descProducto
  {
    display: flex;
    flex-direction: column;
  }

  #payment_methods
  {
    width: 30%;
  }
}
/*Fin de detalle de producto*/
